[submodule "packages/telegram"]
	path = packages/telegram
	url = git@github.com:gnosis/dex-telegram.git
[submodule "packages/contracts"]
	path = packages/contracts
	url = git@github.com:gnosis/dex-contracts
[submodule "packages/react"]
	path = packages/react
	url = git@github.com:gnosis/dex-react
